name: TDD

on: 
  push:
    branches: 
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.101
      - name: Build with dotnet
        run: dotnet build -c Release
      - name: Test with dotnet
        run: dotnet test
